# Cleaning Player ID List

This will help us to reference players by ID.

First of all the raw .csv data is read in.

In [1]:
import os
import pandas as pd
import pickle

In [2]:
os.chdir('../data')

In [3]:
os.getcwd()

'C:\\Users\\phili\\FantasyPL\\data'

In [4]:
os.listdir()

['.ipynb_checkpoints', 'clean', 'raw']

In [5]:
data20_21 = 'raw/20_21/player_idlist.csv'
data21_22 = 'raw/21_22/player_idlist.csv'

In [6]:
player_ids20_21_df = pd.read_csv(data20_21)
player_ids21_22_df = pd.read_csv(data21_22)

In [7]:
player_ids20_21_df

         first_name           second_name   id
0             Mesut                  Özil    1
1          Sokratis      Papastathopoulos    2
2             David  Luiz Moreira Marinho    3
3    Pierre-Emerick            Aubameyang    4
4            Cédric                Soares    5
..              ...                   ...  ...
708         Andreas           Söndergaard  617
709         Patrick               Cutrone  626
710           Nigel               Lonwijk  629
711    Willian José              Da Silva  642
712            Hugo                 Bueno  649

[713 rows x 3 columns]

In [10]:
print(player_ids20_21_df.head(5).to_latex())

\begin{tabular}{lllr}
\toprule
{} &      first\_name &           second\_name &  id \\
\midrule
0 &           Mesut &                  Özil &   1 \\
1 &        Sokratis &      Papastathopoulos &   2 \\
2 &           David &  Luiz Moreira Marinho &   3 \\
3 &  Pierre-Emerick &            Aubameyang &   4 \\
4 &          Cédric &                Soares &   5 \\
\bottomrule
\end{tabular}

C:\Users\phili\AppData\Local\Temp\ipykernel_21232\2782097407.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(player_ids20_21_df.head(5).to_latex())

In [11]:
player_ids21_22_df

          first_name      second_name   id
0              Bernd             Leno    1
1         Rúnar Alex        Rúnarsson    2
2            Willian  Borges Da Silva    3
3     Pierre-Emerick       Aubameyang    4
4             Cédric           Soares    5
..               ...              ...  ...
709      Bruno André    Cavaco Jordão  661
710     Toti António            Gomes  685
711             Dion        Sanderson  686
712             Ryan            Giles  687
713  Francisco Jorge   Tomás Oliveira  689

[714 rows x 3 columns]

To make this data useable alongside game week data, we must combine the first_name and second_name

In [12]:
player_ids20_21_df['name'] = player_ids20_21_df[['first_name','second_name']].apply(lambda x: ' '.join(x), axis=1)
player_ids20_21_df = player_ids20_21_df.drop(["first_name", "second_name"], axis=1)

In [13]:
player_ids20_21_df

      id                        name
0      1                  Mesut Özil
1      2   Sokratis Papastathopoulos
2      3  David Luiz Moreira Marinho
3      4   Pierre-Emerick Aubameyang
4      5               Cédric Soares
..   ...                         ...
708  617         Andreas Söndergaard
709  626             Patrick Cutrone
710  629               Nigel Lonwijk
711  642       Willian José Da Silva
712  649                  Hugo Bueno

[713 rows x 2 columns]

In [14]:
player_ids21_22_df['name'] = player_ids21_22_df[['first_name','second_name']].apply(lambda x: ' '.join(x), axis=1)
player_ids21_22_df = player_ids21_22_df.drop(["first_name", "second_name"], axis=1)

In [15]:
player_ids21_22_df

      id                            name
0      1                      Bernd Leno
1      2            Rúnar Alex Rúnarsson
2      3         Willian Borges Da Silva
3      4       Pierre-Emerick Aubameyang
4      5                   Cédric Soares
..   ...                             ...
709  661       Bruno André Cavaco Jordão
710  685              Toti António Gomes
711  686                  Dion Sanderson
712  687                      Ryan Giles
713  689  Francisco Jorge Tomás Oliveira

[714 rows x 2 columns]

This data can be saved in pickle format for future use in analysis.

In [16]:
file = open("./clean/20_21/player_id_list_20_21.pkl", "wb")
pickle.dump(player_ids20_21_df, file)
file.close()

In [17]:
file = open("./clean/21_22/player_id_list_21_22.pkl", "wb")
pickle.dump(player_ids21_22_df, file)
file.close()

In [18]:
print(player_ids20_21_df.head(5).to_latex())

\begin{tabular}{lrl}
\toprule
{} &  id &                        name \\
\midrule
0 &   1 &                  Mesut Özil \\
1 &   2 &   Sokratis Papastathopoulos \\
2 &   3 &  David Luiz Moreira Marinho \\
3 &   4 &   Pierre-Emerick Aubameyang \\
4 &   5 &               Cédric Soares \\
\bottomrule
\end{tabular}

C:\Users\phili\AppData\Local\Temp\ipykernel_21232\2782097407.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(player_ids20_21_df.head(5).to_latex())